

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    background-color: black;
    color: white;
    font-family: Open-Sans;p\ 
}
.navbar ul{
    text-decoration: none;
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: white;
}
.navbar li{
    margin-bottom:10px;
}
.icon h2{
    background-color: rgb(27, 27, 27);
    margin:10px;
}
.song-row .card{
    background-color: rgb(29, 26, 26);
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.icon .music{
    background-color: rgb(124, 197, 14);
    border: 1px;
    border-radius: 50%;
}
.container h1{
    background-color: rgb(124, 197, 14);
    color: white;
    border: 1px;
    border-radius: 10px;
    text-align: center;
}
.song-row{
display: flex;
gap: 20px;
}
.main{
display: flex;
gap:30px;
flex: 3;
height: 80vh;
}
.container{
width: 100%;
flex: 2;
}
.song-row .card{
/* display: flex; */
gap: 30px;
width: 100%;
padding: 20px;

}
.song-row .icon{
background-color: rgb(59, 50, 50);
}
.audio{
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.navbar{
width: 250px;
}
.navbar h1{
margin-left:30px ;
}
.footer{
display: flex;
justify-content: center;
align-items: center;
}
.audio{
filter: invert(1);
}
.footer . audio{
padding: 10px;
border-radius: 30px;
border: 5px solid rgb(54, 47, 47);
}

